@model List<MVC.Models.Student>
@{
    ViewData["Title"] = "Student list";
    var students = Model;
}

<div class="text-center">
    <h1 class="display-4">Student's list</h1>
    <table class="table table-striped">
        
            <tr>
                <td>StudentId</td>
                <td>StudentName</td>
                <td>BirthDate</td>
                <td>ClassId</td>
                <td>Action</td>
            </tr>
            @if (students != null){
                @foreach (var student in students)
                {
                    <tr>
                        <td>@student.StudentId</td>
                        <td>
                            <a href="/student/detail/@student.StudentId">@student.StudentName</a>
                        </td>
                        <td>@student.BirthDate</td>
                        <td>@student.Class.ClassName</td>
                        <td>
                            <a class="btn btn-outline-info" href="/student/detail/@student.StudentId">Detail</a>
                            <a class="btn btn-outline-success" href="/student/edit/@student.StudentId">Edit</a>
                            <a class="btn btn-outline-danger" href="/">Delete</a>
                        </td>
                    </tr>
                }
            }
    </table>
</div>
